@using Microsoft.AspNetCore.Mvc.Localization
@model ManageLoginsViewModel
@inject IViewLocalizer Localizer
<header class="major">
	<h2><localize>ManageHeader</localize></h2>
	<p><localize>ManageLoginsHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
		@if (Model.CurrentLogins.Count > 0)
		{
			<h4><localize>RegisteredLoginsHeader</localize></h4>
			<table class="table">
			@foreach (var loginInfo in Model.CurrentLogins)
			{
				<tr>
					<td>@loginInfo.LoginProvider</td>
					<td>
						<form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal">
							<div>
								<input asp-for="@loginInfo.LoginProvider" name="LoginProvider" type="hidden" />
								<input asp-for="@loginInfo.ProviderKey" name="ProviderKey" type="hidden" />
								<input type="submit" class="btn btn-default" value="@Localizer[name: "RemoveText"]" title="@Localizer["RemoveHelpText", loginInfo.LoginProvider]" />
							</div>
						</form>
					</td>
				</tr>
			}
			</table>
			}
			@if (Model.OtherLogins.Count > 0)
			{
				<h4><localize>AvailableLoginsHeader</localize></h4>
				<hr />
				<form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal">
					<div id="socialLoginList">
						<p>
							@foreach (var provider in Model.OtherLogins)
							{
								<input type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="@Localizer["LoginHelpText", provider.DisplayName]" />
							}
						</p>
					</div>
				</form>
			}
		</section>-
	</section>
</div>