@model ExternalLoginConfirmationViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>ExternalLoginConfirmationHeader</localize> - @ViewData["LoginProvider"]</p>
</header>

<div class="container">
	<section id="content">
		<section>
			<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
				<h4><localize>FormHeader</localize></h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>

				<p class="text-info"><localize>FormMessage</localize></p>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="email" name="Email" id="Email" value="@Model?.Email" placeholder="@Localizer[name: "Placeholder_Email"]" />
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "SubmitLogin"]" />
						</li>
						<li>
							<input type="reset" value="@Localizer[name: "SubmitReset"]" />
						</li>
					</ul>
				</div>
				<p><localize>ValidateEmailText</localize></p>
			</form>
		</section>
	</section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
