@using FluiTec.AppFx.Identity.Entities
@using Microsoft.AspNetCore.Mvc.Localization
@model LoginViewModel
@inject SignInManager<IdentityUserEntity> SignInManager
@inject IViewLocalizer Localizer

<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>LoginHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData[index: "ReturnUrl"]" method="post" class="form-horizontal">
				<h4><localize>LocalLoginDescription</localize></h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="email" name="Email" id="Email" value="@Model?.Email" placeholder="@Localizer[name: "Placeholder_Email"]"/>
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="Password" id="Password" value="" placeholder="@Localizer[name: "Placeholder_Password"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(2)">
						<input asp-for="RememberMe" />
						<label asp-for="RememberMe"></label>
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "SubmitLogin"]" />
						</li>
						<li>
							<input type="reset" value="@Localizer[name: "SubmitReset"]" />
						</li>
					</ul>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<a asp-action="Register" asp-route-returnurl="@ViewData[index: "ReturnUrl"]"><localize>RegisterLinkDescription</localize></a>
						</li>
						<li>
							<a asp-action="ForgotPassword"><localize>ForgotPasswordDescription</localize></a>
						</li>
						<li>
							<a asp-action="ConfirmEmailAgain"><localize>ConfirmEmailAgainDescription</localize></a>
						</li>
					</ul>
				</div>
			</form>
		</section>
		@Html.Partial("_ExternalLogin")
	</section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial"); }
}
