@using Microsoft.AspNetCore.Mvc.Localization

@model RegisterViewModel
@inject IViewLocalizer Localizer

<header class="major">
	<h2><localize>AccountHeader</localize></h2>
	<p><localize>RegisterHeader</localize></p>
</header>
<div class="container">
	<section id="content">
		<section>
			<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData[index: "ReturnUrl"]" method="post" class="form-horizontal">
				<h4><localize>RegisterDescription</localize></h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="email" name="Email" id="Email" value="@Model?.Email" placeholder="@Localizer[name: "Placeholder_Email"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="Password" id="Password" value="" placeholder="@Localizer[name: "Placeholder_Password"]" />
					</div>
				</div>
				<div class="row uniform">
					<div class="6u 12u(3)">
						<input type="password" name="ConfirmPassword" id="ConfirmPassword" value="" placeholder="@Localizer[name: "Placeholder_ConfirmPassword"]" />
					</div>
				</div>
				<div class="row uniform">
					<ul class="actions">
						<li>
							<input type="submit" value="@Localizer[name: "SubmitRegister"]" />
						</li>
						<li>
							<input type="reset" value="@Localizer[name: "SubmitReset"]" />
						</li>
					</ul>
				</div>
			</form>
		</section>
		@Html.Partial("_ExternalLogin")
	</section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
